body {
  /*  
    Depois de baixar a font da web, tem que setar a página para usar a fonte, 
    da forma abaixo 
  */
  font-family: 'Montserrat', sans-serif; 
}

/* Sempre que temos um arquivo CSS principal e que é usado em várias páginas,
chamamos esse aquivo de style.css. Essa é uma boa prática
*/

/* 
Ordem prioridade (força) do CSS:
 - tag: força 1
 - class: força 10
 - id: força 100
 - inline (no html): força 1000
 tag = 1
 p {...}
 tag + tag = 2
 form p {...}  <-- Essa vai ter prioridade sobre 'p {...}'. Essa vai dar 
                   overwrite

*/
header {
  background: #BBBBBB;
  padding: 20px 0;
}

.caixa {
  /* Para fazer o nav ficar dentro do menu */
  position: relative;
  width: 940px;
  /* Para centralizar top, bottom; left e right
      auto: calcula as margens de forma automática. centraliza automaticamente
  */
  margin: 0 auto;
}

nav {
  /* static: lugar padrão. relative: relativo ao lugar padrão. absolute:
  totalmente 'solto' na página */
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  /* Sentido horário: top, right, bottom, left */
  margin: 0 0 0 15px;
}

/*
É possível alcançar itens sem precisar passar por toda a hierarquia, por 
exemplo nav -> ul -> li -> a. Basta nav -> a para alcançar os links da tag de 
navegação
*/
nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

/* 
hover: comportamento quando o mouse está em cima do elemento. Nesse caso,
troca a cor. afeta os links (a) do menu de navegação (nav) 
*/
nav a:hover {
  color: #C78C19;
  text-decoration: underline;
}

.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

/* Mexer com pixel (px) e percentual no dia a dia é algo normal, mas tem uma
forma de resolver a quebra de layout: o box-sizing */
.produtos li {
  display: inline-block;
  text-align: center;
  /* ocupa 30% da página em largura, +/- 1/3 da página*/
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  /* faz com que o padding fique dentro de width. Nesse caso, 30% */
  box-sizing: border-box;
  /* A borda tem essas três configurações
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  */
  /* declaração unificada da borda */
  border: 2px solid #000000;
  border-radius: 10px;
}

/* 
mapeia o comportamente de quando o mouse está por cima do elemento
hover e active são pseudo-classes do css
*/
.produtos li:hover {
  border-color: #C78C19;
}

/* 
active mapeia o comportamento de click no elemento, equanto o click está ativo
*/
.produtos li:active {
  border-color: #088C19;
}

/*
muda o tamanho da fonte do <h2> do <li> de .produtos, quando o mouse está em 
cima do <li> de .produtos
*/
.produtos li:hover h2 {
  font-size: 34px;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.produto-descricao {
  font-size: 18px;
}

.produto-preco {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  text-align: center;
  /* 
  É possivel usar imagem como background. Nesse caso não altera no html, 
  mas sim no css. Nesse caso, a imagem é pequena, mas o CSS copia a mesma 
  imagem repetidamente até preencher a área completa.
  */
  background: url("bg.jpg");
  padding: 40px 0;
}

.copyright {
  color: #FFFFFF;
  font-size: 13px;
  margin: 20px 0 0;
}

main {
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 40px 0;
}

form label, form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

/* Para replicar uma mesma configuração para mais de um seletor, é necessário
separar os seletores por ',' */
.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  /* old: Muda a cor de fundo gradualmente quando tem evento de hover */
  /* new: A transição de tudo acontece gradualmente quando tem evento de 
          hover */
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background: darkorange;
  /* Aumenta todo o elemento proporcionalmente em 20%  */
  transform: scale(1.20);
}

table {
  margin: 20px 0 40px;
}

thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

td, th {
  border: 1px solid #000000;
  padding: 8px 15px;
}

/* CSS da página inicial */
.banner {
  width: 100%;
}

.titulo-principal {
  text-align: center;
  /*
    O dobro do tamanho em pixels da fonte padrão.
    'em' é a medida proporcinal para pixels.
  */
  font-size: 2em;
  margin: 0 0 1em;
  /* "limpa" o efeito do float */
  clear: left;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  /* 
    Faz a imagem "flutuar", deixando os textos ao redor da imagem.
    O float afeta tudo na página que vem abaixo dele mesmo. O clear resolve isso
  */
  float: left;
  margin: 0 20px 20px 0;
}

.imagembeneficios {
  width: 60%;
}
